.layout_pesquisa{
    display: flex;
    gap: 5px;
}

.button_pesquisar{
    border: 0.5px solid;
    border-radius: 10px;
    background-color:#ffffff71 ;
    
}

.layout_pesquisa input{
    width: 200px;
    height: 30px;
}



.layout_conteudo ul li{
    list-style: none;
}

.layout_conteudo ul{
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 16px 24px;
}
