.div_geral_pesquisa{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.layout_pesquisa{
    display: flex;
    gap: 5px;
}

.button_pesquisar{

    background-color:#024959;
    color: white;
    cursor: pointer;
    
}

.layout_pesquisa input{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 0.5px solid;
    border-color: black;
    text-align: center;
}



.layout_conteudo ul li{
    list-style: none;
}

.layout_conteudo ul{
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 16px 24px;
   
}

.layout_conteudo:hover{
    background-color: #593e25ea;
    border-radius: 10px;
    color: white;
}
