.layout_pesquisa{
    display: flex;
    gap: 5px;
}

.layout_pesquisa input{
    width: 200px;
    height: 30px;
}



.layout_conteudo ul li{
    list-style: none;
}

.layout_conteudo ul{
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 16px 24px;
}
